jsons
retry
numpy
pandas
matplotlib
scipy
lxml
openpyxl

pymongo
pymysql
sqlalchemy

requests
websockets
uvicorn
fastapi
slowapi


# jupyter
jupyter
pykrx
xmltodict
beautifulsoup4
levenshtein

httpx
starlette
datetime
tenacity
sklearn
scikit-learn

tenacity