jsons
retry
pandas
matplotlib
scipy

pymongo
pymysql
sqlalchemy

requests
websockets
fastapi
uvicorn[standard]

# jupyter
jupyter
datetime
pykrx
xmltodict
beautifulsoup4
python-Levenshtein
levenshtein
