jsons~=1.6.3
retry~=0.9.2
numpy~=1.24.1
pandas~=1.5.3
matplotlib
scipy
lxml

pymongo~=4.3.3
pymysql~=1.0.2
sqlalchemy~=1.4.46

requests~=2.31.0
websockets~=10.4
fastapi~=0.89.1
uvicorn[standard]

# jupyter
jupyter
datetime~=5.0
pykrx~=1.0.42
xmltodict~=0.13.0
beautifulsoup4~=4.11.1
python-Levenshtein
levenshtein~=0.20.9

httpx~=0.24.1
starlette~=0.22.0